/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    color: #111111;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #fdfdfd;
}

.button {
    border: 0;
    outline: none;
    /* height: 44px; */
    border-radius: 10px;
    /* font-size: 14px; */
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    transition: transform .08s ease, opacity .12s ease;
    background: #ffcc00;
    color: #111111;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #E5BC19;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #FADE6E;
    color: #787878;
    transform: none;
}

.button.button-white {
    background: #ffffff;
    border: 1px solid #111111;
}

.button.button-white:hover {
    background: rgb(241 241 241);
}

.main-field {
    display: flex;
    align-items: center;
    margin-top: 6px;
    gap: 10px;
    border: 1px solid #1111111A;
    background: #FAFAFA;
    border-radius: 10px;
    padding: 10px 12px;
    position: relative;
    box-sizing: border-box;
    height: 50px;
}

.main-field.textarea {
    height: auto;
}

.main-pin {
    width: 28px;
    height: 28px;
    border-radius: 10px;
    background: rgba(17, 17, 17, 0.08);
    display: grid;
    place-items: center;
    flex: 0 0 auto;
    position: relative;
}

.main-pin::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: orange;
    opacity: .75;
    display: block;
}

.main-field:last-child .main-pin::before {
    background: green;
    opacity: .85;
}

input, textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #111111;
    font-family: inherit;
}

textarea {
    resize: vertical;
    min-height: 72px;
    padding: 2px 0;
}

input::placeholder, textarea::placeholder {
    color: #7C7C7C;
}

.main-field:focus-within {
    border-color: rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 0 4px rgba(255, 204, 0, 0.35);
    background: rgba(255, 255, 255, 0.75);
}

.main-field:has(.ng-invalid.ng-touched) {
    border-color: red;
}

.input-error {
    margin-top: 1px;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: red;
}

@theme {
  --color-primary: var(--color-green-500, oklch(72.3% 0.219 149.579));
  --color-secondary: var(#FADE6E);
  --font-primary: 'Roboto-Regular';
  --container-7xl: 80rem;
  --shadow-drop: 0px 8px 16px rgba(0, 0, 0, 0.1);
  --shadow-header: 0px 7px 20px 0 rgba(0, 0, 0, 0.08);
}